<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords, separated, by, comma">
    <title>Avantelt</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../../../assets/w/css/reset.css">
    <link rel="stylesheet" href="../../../assets/w/css/style.css">
    <link rel="stylesheet" href="../../../assets/w/css/barusel.css">
    <!--<link rel="stylesheet" href="css/print.css" media="print">-->

    <!-- jquery -->

    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.barousel.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.thslide.js"></script>

    <!--[if IE]>
    <link href="/assets/css/ie.css" rel="stylesheet" type="text/css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#barousel_thslide').barousel({
            navWrapper: '#thslide_barousel_nav .thslide_list',
            manualCarousel: 1,
            navType: 3
        });

        $('#thslide_barousel_nav').thslide({
            itemOffset: 113
        });
    });
</script>
<div class="wrapper">
    <header> <!-- header -->
        <div class="header-bg-teeth"></div>
        <div class="container">
            <div class="header-redline"></div>
            <div id="header-id">
            <a href="/"><div class="logo">Avantelt</div></a>
            <div class="right-side">
                <div class="contacts-map-search">
                    <ul>
                        <li><img src="/assets/design_img/email.png"><a href="#" id="show-contacts">Контакты</a></li>
                        <div class="contacts-window" id="contacts-window">
                            <div class="close-contacts" id="close-contacts"></div>
                            <h3>Контакты</h3>
                            <div class="line-phone-number">8 (495) 540 43 03</div>
                            <div class="line-marker">Где мы находимся?</div>
                            <div class="line-contacts-text">
                                <p>Московская область, <Br/>Химки, ул.Бабакина д.5А</p>
                            </div>
                            <div class="contacts-content">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1118.975482682097!2d37.42586365641076!3d55.88086518873922!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53889ec645d2f%3A0x348e7b45c2e22fda!2z0YPQuy4g0JHQsNCx0LDQutC40L3QsCwgNSwg0KXQuNC80LrQuCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MTQwNw!5e0!3m2!1sru!2sru!4v1411540687144" width="320" height="225" frameborder="0" style="border:0"></iframe>
                            </div>
                        </div>
                        <li class="nulled-margin"><img src="/assets/design_img/map.png"><a href="#" id="show-map">Карта</a></li>
                    </ul>
                    <form class="search" action="" method="POST">
                        <input type="submit">
                        <input type="text" name="search_query" id="search_query" placeholder="Введите артикул или населенный пункт">
                    </form>
                </div>
                <div class="order-call">
                    <p class="number">+7(495)777-07-99</p>
                    <a href="#" class="btn-order-call">Заказать звонок</a>
                </div>
            </div>
            </div>
            <div class="map-window" id="map-window">
                <div class="close-map" id="close-map"></div>
                <h3>Карта</h3>
                <div class="map-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.954608814351!2d37.42603799999992!3d55.88080198849451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53889ec645d2f%3A0x348e7b45c2e22fda!2z0YPQuy4g0JHQsNCx0LDQutC40L3QsCwgNSwg0KXQuNC80LrQuCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MTQwNw!5e0!3m2!1sru!2sru!4v1411530651080" width="525" height="395" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>


    </header> <!-- *end* header -->
    <div class="grand-bg">
        <div class="sub-navigation">
            <div class="container">
                <ul class="clearfix">
                    <li class="current-page"><h1>Строительство</h1></li>
                    <li class="delimiter"></li>
                    <li class="home-link"><img src="/assets/design_img/home.png" alt="Домой"><a href="#">Главная</a></li>
                    <li class="search-link"><img src="/assets/design_img/search_black.png" alt="Поиск объектов"><a href="#">Поиск объектов</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li> > </li>
                <li><a href="#">Квартиры</a></li>
                <li> > </li>
                <li><a href="#">Строительство</a></li>
                <li> > </li>
                <li class="active-crumb">Дом на Ярославском шоссе Черкизово</li>
            </ul>
        </div>
        <section class="building-advanced">
                <div class="container clearfix">
                    <div class="section-sheet-body">
                        <div class="section-sheet-body-inner clearfix">
                            <div id="barousel_thslide" class="barousel building-advanced">
                                <div class="barousel_image">
                                    <!-- image 1 -->
                                    <a href="#"><img src="/assets/slider_img/1.jpg" alt="" class="default" /></a>
                                    <!-- image 2 -->
                                    <a href="#"><img src="/assets/slider_img/2.jpg" alt="" /></a>
                                    <!-- image 3 -->
                                    <a href="#"><img src="/assets/slider_img/3.jpg" alt="" /></a>
                                </div>
                                <div class="barousel_content">
                                    <!-- content 1 -->
                                    <div class="default">

                                    </div>
                                    <!-- content 2 -->
                                    <div>

                                    </div>
                                    <!-- content 3 -->
                                    <div>

                                    </div>
                                </div>
                                <div id="thslide_barousel_nav" class="thslide">
                                    <div class="thslide_nav_previous">
                                        <a href="#">&nbsp;</a>
                                    </div>
                                    <div class="thslide_list">
                                        <ul>
                                            <li><a href="#"><img src="/assets/slider_img/1.jpg" alt="" /><span></span></a></li>
                                            <li><a href="#"><img src="/assets/slider_img/2.jpg" alt="" /><span></span></a></li>
                                            <li><a href="#"><img src="/assets/slider_img/3.jpg" alt="" /><span></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="thslide_nav_next">
                                        <a href="#">&nbsp;</a>
                                    </div>
                                </div>
                            </div>

                            <div class="right-description">
                                <div class="content">
                                    <p class="title">
                                        Дом на Ярославском шоссе Черкизово
                                    </p>
                                    <p>
                                        Иногда люди собираются купить дом у владельцев, а потом отказываются
                                        от этой идеи в пользу нового дома. Слева вы можете ознакомиться с домами,
                                        которые построили наши партнеры. Вы можете заказать постройку такого же
                                        дома, на выбранном участке.
                                    </p>
                                    <Br/>
                                    <p>
                                        Мы гарантируем выгодные условия от наших партнёров из строительных фирм и
                                        помощь в оформлении документации. Иногда люди собираются купить дом у владельцев,
                                        а потом отказываются от этой идеи в пользу нового дома. Слева вы можете
                                        ознакомиться с домами, которые построили наши партнеры.
                                    </p>
                                    <Br/>
                                    <a href="#">http://www.site.ru</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <footer> <!-- footer -->
        <div class="footer-bg-teeth"></div>
        <div class="container">
            <div class="footer-nav clearfix">
                <ul class="footer-nav-block">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Коттеджи, дома</a></li>
                    <li><a href="#">Земельные участки</a></li>
                    <li><a href="#">Квартиры</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Строительство</a></li>
                    <li><a href="#">Коммерческая недвижимость</a></li>
                    <li><a href="#">Зарубежная недвижимость</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Юридические услуги</a></li>
                    <li><a href="#">Кредитный брокер</a></li>
                    <li><a href="#">Партнеры</a></li>
                </ul>
                <ul class="footer-nav-block nulled-margin">
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Заказать звонок</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container clearfix">
                <div class="social clearfix">
                    <a href="#"><div class="social-link vk"></div></a>
                    <a href="#"><div class="social-link twitter"></div></a>
                </div>
                <p class="copyright">&copy; 2014 ООО &laquo; Авантэлт &raquo;. Все права защищены.</p>
                <form class="search" action="" method="POST">
                    <input type="submit">
                    <input type="text" name="search_query" id="search_query-f" placeholder="Введите артикул или населенный пункт">
                </form>
                <div class="callnumber">
                    +7 (495) 540-43-03
                </div>
            </div>
        </div>
    </footer> <!-- *end* footer -->
</div> <!-- *end* wrapper -->
<script type="text/javascript" src="/assets/js/jquery.barousel.js"></script>
<script type="text/javascript" src="/assets/js/design-js.js"></script>
<script type="text/javascript">
</script>
</body>
</html>