<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords, separated, by, comma">
    <title>Avantelt</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="../../../assets/w/css/reset.css">
    <link rel="stylesheet" href="../../../assets/w/css/barusel.css">
    <link rel="stylesheet" href="../../../assets/w/css/style.css">
    <!--<link rel="stylesheet" href="css/print.css" media="print">-->

    <!-- jquery -->

    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.barousel.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.thslide.js"></script>

    <!--[if IE]>
    <link href="/assets/css/ie.css" rel="stylesheet" type="text/css" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#barousel_thslide').barousel({
            navWrapper: '#thslide_barousel_nav .thslide_list',
            manualCarousel: 1,
            navType: 3
        });

        $('#thslide_barousel_nav').thslide({
            itemOffset: 110
        });


        $('#barousel_thslide_window').barousel({
            navWrapper: '#thslide_barousel_nav_window .thslide_list',
            manualCarousel: 1,
            navType: 3
        });

        $('#thslide_barousel_nav_window').thslide({
            itemOffset: 214
        });
    });
</script>
<div class="shadow-wrapper" id="shadow-wrapper"></div>
<div class="shadow-wrapper-body" id="shadow-wrapper-body">
    <div class="item-card-slider shadow-slider">
        <!-- -->
        <div id="barousel_thslide_window" class="barousel barousel-center-window">

            <div class="barousel_image">
                <a href="#" id="shadow-slider-close" class="shadow-slider-close" onclick="show_hide('#shadow-wrapper-body'); show_hide('#shadow-wrapper'); return false;">Close</a>
                <!-- image 1 -->
                <a href="#"><img src="/assets/slider_img/1.jpg" alt="" class="default" /></a>
                <!-- image 2 -->
                <a href="#"><img src="/assets/slider_img/2.jpg" alt="" /></a>
                <!-- image 3 -->
                <a href="#"><img src="/assets/slider_img/3.jpg" alt="" /></a>
            </div>
            <div class="barousel_content">
                <!-- content 1 -->
                <div class="default">

                </div>
                <!-- content 2 -->
                <div>

                </div>
                <!-- content 3 -->
                <div>

                </div>
            </div>
            <div id="thslide_barousel_nav_window" class="thslide">
                <div class="thslide_nav_previous">
                    <a href="#">&nbsp;</a>
                </div>
                <div class="thslide_list">
                    <ul>
                        <li><a href="#"><img src="/assets/slider_img/1.jpg" alt="" /><span></span></a></li>
                        <li><a href="#"><img src="/assets/slider_img/2.jpg" alt="" /><span></span></a></li>
                        <li><a href="#"><img src="/assets/slider_img/3.jpg" alt="" /><span></span></a></li>

                    </ul>
                </div>
                <div class="thslide_nav_next">
                    <a href="#">&nbsp;</a>
                </div>
            </div>
        </div>
        <!-- -->
    </div>
</div>
<div class="wrapper">
    <header> <!-- header -->
        <div class="header-bg-teeth"></div>
        <div class="container">
            <div class="header-redline"></div>
            <div id="header-id">
                <a href="/"><div class="logo">Avantelt</div></a>
                <div class="right-side">
                    <div class="contacts-map-search">
                        <ul>
                            <li><img src="/assets/design_img/email.png"><a href="#" id="show-contacts">Контакты</a></li>
                            <div class="contacts-window" id="contacts-window">
                                <div class="close-contacts" id="close-contacts"></div>
                                <h3>Контакты</h3>
                                <div class="line-phone-number">8 (495) 540 43 03</div>
                                <div class="line-marker">Где мы находимся?</div>
                                <div class="line-contacts-text">
                                    <p>Московская область, <Br/>Химки, ул.Бабакина д.5А</p>
                                </div>
                                <div class="contacts-content">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1118.975482682097!2d37.42586365641076!3d55.88086518873922!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53889ec645d2f%3A0x348e7b45c2e22fda!2z0YPQuy4g0JHQsNCx0LDQutC40L3QsCwgNSwg0KXQuNC80LrQuCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MTQwNw!5e0!3m2!1sru!2sru!4v1411540687144" width="320" height="225" frameborder="0" style="border:0"></iframe>
                                </div>
                            </div>
                            <li class="nulled-margin"><img src="/assets/design_img/map.png"><a href="#" id="show-map">Карта</a></li>
                        </ul>
                        <form class="search" action="" method="POST">
                            <input type="submit">
                            <input type="text" name="search_query" id="search_query" placeholder="Введите артикул или населенный пункт">
                        </form>
                    </div>
                    <div class="order-call">
                        <p class="number">+7(495)777-07-99</p>
                        <a href="#" class="btn-order-call">Заказать звонок</a>
                    </div>
                </div>
            </div>
            <div class="map-window" id="map-window">
                <div class="close-map" id="close-map"></div>
                <h3>Карта</h3>
                <div class="map-content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2237.954608814351!2d37.42603799999992!3d55.88080198849451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53889ec645d2f%3A0x348e7b45c2e22fda!2z0YPQuy4g0JHQsNCx0LDQutC40L3QsCwgNSwg0KXQuNC80LrQuCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDE0MTQwNw!5e0!3m2!1sru!2sru!4v1411530651080" width="525" height="395" frameborder="0" style="border:0"></iframe>
                </div>
            </div>
        </div>
    </header> <!-- *end* header -->
    <div class="grand-bg">
        <div class="sub-navigation">
            <div class="container">
                <ul class="clearfix">
                    <li class="current-page"><h1>Добротный 3-х уровневый кирпичный коттедж</h1></li>
                    <li class="delimiter"></li>
                    <li class="home-link"><img src="/assets/design_img/home.png" alt="Домой"><a href="#">Главная</a></li>
                    <li class="search-link"><img src="/assets/design_img/search_black.png" alt="Поиск объектов"><a href="#">Поиск объектов</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li> > </li>
                <li><a href="#">Квартиры</a></li>
                <li> > </li>
                <li class="active-crumb">Добротный 3-х уровневый кирпичный коттедж</li>
            </ul>
        </div>
        <section class="item-card">
            <div class="container">
                <div class="section-sheet-body">
                    <div class="section-sheet-body-inner">
                        <div class="spec-padding clearfix">
                            <div class="top-description clearfix">
                                <div class="item-card-slider">
                                    <!-- -->
                                    <div class="increase" onclick="show_hide('#shadow-wrapper-body'); show_hide('#shadow-wrapper'); return false;"></div>
                                    <div id="barousel_thslide" class="barousel">
                                        <div class="barousel_image">
                                            <!-- image 1 -->
                                            <a href="#"><img src="/assets/slider_img/1.jpg" alt="" class="default" /></a>
                                            <!-- image 2 -->
                                            <a href="#"><img src="/assets/slider_img/2.jpg" alt="" /></a>
                                            <!-- image 3 -->
                                            <a href="#"><img src="/assets/slider_img/3.jpg" alt="" /></a>
                                        </div>
                                        <div class="barousel_content">
                                            <!-- content 1 -->
                                            <div class="default">

                                            </div>
                                            <!-- content 2 -->
                                            <div>

                                            </div>
                                            <!-- content 3 -->
                                            <div>

                                            </div>
                                        </div>


                                        <div id="thslide_barousel_nav" class="thslide">
                                            <div class="thslide_nav_previous">
                                                <a href="#">&nbsp;</a>
                                            </div>
                                            <div class="thslide_list">
                                                <ul>
                                                    <li><a href="#"><img src="/assets/slider_img/1.jpg" alt="" /><span></span></a></li>
                                                    <li><a href="#"><img src="/assets/slider_img/2.jpg" alt="" /><span></span></a></li>
                                                    <li><a href="#"><img src="/assets/slider_img/3.jpg" alt="" /><span></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="thslide_nav_next">
                                                <a href="#">&nbsp;</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- -->

                                </div>
                                <div class="general-info clearfix">
                                    <p><span class="item-card-general-head">Добротный 3-х уровневый кирпичный коттедж</span></p>
                                    <div class="info-block">
                                        <p><span class="secondary-head">Общая информация:</span></p>
                                        <table>
                                            <tbody>
                                                <tr class="colored">
                                                    <td class="cat-name">Шоссе:</td>
                                                    <td class="description">Ленинградское</td>
                                                </tr>
                                                <tr>
                                                    <td class="cat-name">Удаленность:</td>
                                                    <td class="description">У1 км. от МКАД </td>
                                                </tr>
                                                <tr class="colored">
                                                    <td class="cat-name">Населенный пункт:</td>
                                                    <td class="description">Химки</td>
                                                </tr>
                                                <tr>
                                                    <td class="cat-name">Площадь дома:</td>
                                                    <td class="description">360 кв.м.</td>
                                                </tr>
                                                <tr class="colored">
                                                    <td class="cat-name">Площадь участка:</td>
                                                    <td class="description">6 сот.</td>
                                                </tr>
                                                <tr>
                                                    <td class="cat-name">Артикул:</td>
                                                    <td class="description">3587</td>
                                                </tr>
                                                <tr class="colored">
                                                    <td class="cat-name">Тип застройки:</td>
                                                    <td class="description">Дом</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="price_place">
                                            <p>Цена: 3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                            <p class="compare-check">
                                                <input type="checkbox" name="compare" id="compare"> <span>Сравнить</span>
                                            </p>





                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-description">
                                <p><span class="secondary-head">Общая информация:</span></p>
                                <p>
                                    Добротный 3-х уровневый кирпичный коттедж 360 м на участке 6 сот., 1 км до города Химки по Ленинградскому,
                                    Дмитровское шоссе. Кровля мягкая, окна тройные стеклопакеты. Потолки 3 м., гараж.
                                    Отдельное помещение для проживания.1 уровень: кухня, столовая, кабинет,
                                    с/у;2 уровень: 2 комнаты, 2 с/у;3 уровень: свободная планировка.Эл-во,
                                    газ магистральный, водоснабжение центральное, канализация, электричество,
                                    телефон, интернет, круглогодичный асфальтированный подъезд. Видеонаблюдение.
                                    Охраняемая территория.150 м до канала им. Москвы.(Ек)
                                </p>

                                <div class="row clearfix">
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Характеристики дома:</span></p>
                                        <table>
                                            <tbody>
                                            <tr class="colored">
                                                <td class="cat-name">Уровень отделки:</td>
                                                <td class="description">под ключ</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Внешняя отделка стен:</td>
                                                <td class="description">оштукатурен и покрашен, облицовочный кирпич </td>
                                            </tr>
                                            <tr class="colored">
                                                <td class="cat-name">Внутренняя отделка стен:</td>
                                                <td class="description">обои, декоративная штукатурка</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Характеристики участка:</span></p>
                                        <table>
                                            <tbody>
                                            <tr class="colored">
                                                <td class="cat-name">Тип ландшафта:</td>
                                                <td class="description">газон</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Дополнительные строения:</td>
                                                <td class="description">Гостевой дом </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Коммуникации:</span></p>
                                        <table>
                                            <tbody>
                                            <tr class="colored">
                                                <td class="cat-name">Отопление:</td>
                                                <td class="description">газовый котел</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Газ:</td>
                                                <td class="description">Магистральный </td>
                                            </tr>
                                            <tr class="colored">
                                                <td class="cat-name">Электричество:</td>
                                                <td class="description">документально подтвержденное</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Мощность:</td>
                                                <td class="description">15</td>
                                            </tr>
                                            <tr class="colored">
                                                <td class="cat-name">Водоснабжение:</td>
                                                <td class="description">центральное</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Канализация:</td>
                                                <td class="description">централизованная на поселок,септик</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Инфраструктура поселка:</span></p>
                                        <table>
                                            <tbody>
                                            <tr class="colored">
                                                <td class="cat-name">Охрана:</td>
                                                <td class="description">строгоохраняемый поселок</td>
                                            </tr>
                                            <tr>
                                                <td class="cat-name">Благоустроенность:</td>
                                                <td class="description">спортивные площадки, детская площадка, освещенные улицы </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Инфраструктура рядом:</span></p>
                                        <table>
                                            <tbody>
                                            <tr class="colored">
                                                <td class="cat-name">Объекты до 5 км:</td>
                                                <td class="description">спортивный клуб; магазин; детский сад; школа; развлекательный центр; больница; ресторан</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="info-block">
                                        <p><span class="secondary-head red-text">Природная привлекательность:</span></p>
                                        <table>
                                            <tbody>
                                                <tr class="colored">
                                                    <td class="cat-name">Расстояние до леса:</td>
                                                    <td class="description">км (примыкает к лесу)</td>
                                                </tr>
                                                <tr>
                                                    <td class="cat-name">Водоем для купания:</td>
                                                    <td class="description">(вид на воду)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="item-location">
                                <p>
                                    <span class="btn-map-img">Карта</span>
                                </p>
                                <div class="current-location-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d71845.72347782149!2d37.63815977509428!3d55.75539511575265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1411720957717" width="790" height="395" frameborder="0" style="border:0"></iframe>
                                </div>
                            </div>
                            <div class="other-items clearfix">
                                <p><span class="item-card-general-head">Другие объекты в этом районе</span></p>
                                <div class="other-items-element">
                                    <img src="../../../assets/w/design_img/123.jpg" alt="">
                                    <a href="#">Дом, Мышецкое Ленинградское ш. 15 км.500м2, 20соток</a>
                                    <p class="price">3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                </div>
                                <div class="other-items-element">
                                    <img src="../../../assets/w/design_img/123.jpg" alt="">
                                    <a href="#">Дом, Мышецкое Ленинградское ш. 15 км.500м2, 20соток</a>
                                    <p class="price">3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                </div>
                                <div class="other-items-element">
                                    <img src="../../../assets/w/design_img/123.jpg" alt="">
                                    <a href="#">Дом, Мышецкое Ленинградское ш. 15 км.500м2, 20соток</a>
                                    <p class="price">3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                </div>
                                <div class="other-items-element">
                                    <img src="../../../assets/w/design_img/123.jpg" alt="">
                                    <a href="#">Дом, Мышецкое Ленинградское ш. 15 км.500м2, 20соток</a>
                                    <p class="price">3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                </div>
                                <div class="other-items-element">
                                    <img src="../../../assets/w/design_img/123.jpg" alt="">
                                    <a href="#">Дом, Мышецкое Ленинградское ш. 15 км.500м2, 20соток</a>
                                    <p class="price">3 100 000 <del><span style="font-family: Arial;">P</span></del></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer> <!-- footer -->
        <div class="footer-bg-teeth"></div>
        <div class="container">
            <div class="footer-nav clearfix">
                <ul class="footer-nav-block">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Карта</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Коттеджи, дома</a></li>
                    <li><a href="#">Земельные участки</a></li>
                    <li><a href="#">Квартиры</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Строительство</a></li>
                    <li><a href="#">Коммерческая недвижимость</a></li>
                    <li><a href="#">Зарубежная недвижимость</a></li>
                </ul>
                <ul class="footer-nav-block">
                    <li><a href="#">Юридические услуги</a></li>
                    <li><a href="#">Кредитный брокер</a></li>
                    <li><a href="#">Партнеры</a></li>
                </ul>
                <ul class="footer-nav-block nulled-margin">
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Заказать звонок</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container clearfix">
                <div class="social clearfix">
                    <a href="#"><div class="social-link vk"></div></a>
                    <a href="#"><div class="social-link twitter"></div></a>
                </div>
                <p class="copyright">&copy; 2014 ООО &laquo; Авантэлт &raquo;. Все права защищены.</p>
                <form class="search" action="" method="POST">
                    <input type="submit">
                    <input type="text" name="search_query" id="search_query-f" placeholder="Введите артикул или населенный пункт">
                </form>
                <div class="callnumber">
                    +7 (495) 540-43-03
                </div>
            </div>
        </div>
    </footer> <!-- *end* footer -->
</div> <!-- *end* wrapper -->


<script type="text/javascript" src="/assets/js/design-js.js"></script>
<script type="text/javascript">
</script>
</body>
</html>